* {
    text-decoration: none;
}

.information {
    color: #ff6060;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 30px auto 0px;
}

.nameHome {
    font-size: 35px;
    font-weight: 500;
} 

.nameElement {
    margin: 0;
}

.localisation {
    font-size: 19px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}

.informationSupp {
    display: flex;
    list-style: none;
}

.background  {
    background-color: #ff6060;
    margin-right: 13px;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 12px;
}

.flex {
    display: flex;
}

.namePerson {
    font-size: 20px;
    font-weight: 500;
    padding-top: 8px;
    flex-wrap: wrap;
}

.nameDescription {
    background-color: #ff6060;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.infoDescription {
    background-color: #f7f7f7;
    color: #ff6060;
    border-radius: 0 0 5px 5px;
    font-size: 20px;
    padding: 20px 14px 20px 15px
}

.info {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.person {
    display: flex;
    width: 156px;
    margin-bottom: 20px;
}

.pictureProfil {
    border-radius: 70px;
    height: 67px;
}

.icone {
    font-size: 20px;
}

.icone i {
    padding-right: 10px;
}

.grey {
    color: gray;
}

.rotate {
    transform: rotate(180deg); /* Vous pouvez ajuster l'angle de rotation selon vos besoins */
    transition: transform 0.3s ease; /* Pour ajouter une transition fluide */
  }

.width {
    width: 47%;
}

.fa-chevron-up {
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.6s;
}

.rotate2 {
    transform: rotate(0deg);
    transition: transform 0.6s;
}
// .fa-chevron-up.rotate {
//     transform: rotate(180deg);
// 	// -webkit-animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
// 	//         animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
// }

@media only screen and (max-width: 860px) {

    .carousel-container {
        margin: 10px auto 0;
    }

    .information {
        flex-direction: column;
        margin: 10px auto 0;
    }
    
    .nameHome {
        font-size: 29px;
    }

    .localisation {
        font-size: 20px;
        margin: 0;
        padding: 12px 0;
    }

    .background {
        font-size: 13px;
        border-radius: 10px;
    }

    .namePerson {
        font-size: 14px;
        padding-top: 9px;
        width: 70px;
    }

    .pictureProfil {
        height: 50px;
    }

    .person {
        // width: auto;
        // margin-top: auto;
        float: right;
        width: 120px;
    }

    .icone {
        padding-top: 20px;
        font-size: 17px;
    }

    .info {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .width {
        width: 100%;
    }

    .nameDescription {
        font-size: 17px;
    }

    .infoDescription {
        font-size: 14px;
    }

    .margin_top_mobile {
        margin-top: 0px;
    }
}